{% extends 'User/base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body_class %}login-page{% endblock %}


{% block body %}
    <div class="login-box">
        <div class="login-logo">
            <a href="{{ path('ticket_perso') }}"><b>Isolonice</b>Jarvis</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            {% if error %}
                <div class="row">
                    <div class="alert alert-danger" role="alert">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                </div>
            {% endif %}
            <p class="login-box-msg">HELP ME I'M STUCK</p>

            {{ form_start(form) }}
            <div class="form-group has-feedback">
                {{ form_widget(form._username) }}
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                {{ form_widget(form._password) }}
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>

            <div class="row">
                <div class="col-xs-6 col-xs-offset-6">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">
                        <span class="fa fa-lock"></span> Se connecter
                    </button>
                </div>
            </div>
            {{ form_end(form) }}
            <a href="#" class="text-center">Mot de passe oublié</a>
            <br>
            <a href="{{ path('user_register') }}" class="text-center">S'inscrire</a>
        </div>
        <!-- /.login-box-body -->
    </div>
{% endblock %}